{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ person.nombre }}</td>
            </tr>
            <tr>
                <th>Apepaterno</th>
                <td>{{ person.apePaterno }}</td>
            </tr>
            <tr>
                <th>Apematerno</th>
                <td>{{ person.apeMaterno }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ person.edad }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ person.address }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personas_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
