{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Persona</th>
                <th>Calle</th>
                <th>Colonia</th>
                <th>Delegacion</th>
                <th>Numero</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('direccion_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{{ address.people }}</td>
                <td>{{ address.calle }}</td>
                <td>{{ address.colonia }}</td>
                <td>{{ address.delegacion }}</td>
                <td>{{ address.numero }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('direccion_show', { 'id': address.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('direccion_edit', { 'id': address.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('direccion_new') }}">Create a new address</a>
        </li>
    </ul>
{% endblock %}
